:root {
    --primary-color: #ff4757;
    --secondary-color: #2f3542;
    --text-color: #c1330c;
    /* --text-color: #42352f; */
    --background-color: #eaebed;
    --card-background: #eaebed;
  }